body {
  padding: 0;
  margin: 0;
  font-family: 'Inconsolata', monospace;
}

#board {
  width: 1227px;
  height: 627px;
  margin: 0px;
  position: relative;
  background-image: url("../risk_game_mapWN.png");
}

#board-pixel-container {
  position: absolute;
  width: 1227px;
  height: 627px;
  top: -10px;
  left: -5px;
}

#title-box {
  animation: slideIn 5s;
  width: 400px;
  height: 106px;
  background-image: url('../risk_logo.png');
  background-size: cover;
  z-index: 999;
  position: absolute;
  top: 180px;
  left: 33%;
}


@keyframes slideIn {
  0% {
    top: -250px;
  }

  100% {
    top: 180px;
  }
}

.row {
  width: 1227px;
  height: 25px;
  box-sizing: border-box;


}

.mapPixel {
  width: 25px;
  height: 25px;
  float: left;
  box-sizing: border-box;
}

.territory-center {
  position: relative;
}

.army-stack {

  width: 40px;
  height: 40px;
  border: 3px solid black;
  border-radius: 50%;
  box-sizing: border-box;
  position: absolute;
  top: -7px;
  left: -7px;
  text-align: center;
  padding-top: 6px;
}

.army-stack > p {
  color: white;
  font-family: 'Droid Serif', serif;
  font-size: 25px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.army-stack > p:hover {
  cursor: pointer;
}

#info-box {
  width: 720px;
  height: 110px;
  border: 3px solid black;
  border-radius: 8%;
  position: absolute;
  bottom: -10px;
  right: 140px;
  background-color: #FDFFF7;
  font-family: 'Inconsolata', monospace;
  text-align: center;
}

#info-box-info {
  width: 370px;
  height: 110px;
  box-sizing: border-box;
  float: left;
  border-right: 2px solid black;
}

#info-box-info-heading {
  padding-top: 5px;
  font-size: 20px;
  font-weight: bold;
}

#heading-player {
  font-size: 25px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#info-box-info-p {
  padding-top: 5px;
}

#info-box-controls {
  width: 350px;
  height: 110px;
  box-sizing: border-box;
  float: left;
  position: relative;
  text-align: center;
}

.info-box-controls-heading {
  padding: 2px 0;
}

.info-box-controls-amount {
  padding: 3px 20px 5px;
  font-size: 30px;
}

#from-territory {

}

#to-territory {

}

#troops-to-deploy {

}

.info-box-controls-territory {
  font-weight: bold;
}

.info-box-controls-math-button {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  font-family: 'Droid Serif', serif;
  font-size: 20px;
}

.info-box-controls-math-button:hover {
  cursor: pointer;
}

.info-box-controls-math-button:focus {
  outline: 0;
}

#minus-button {
  left: 125px;
}

#plus-button {
  right: 125px
}

.info-box-controls-action-button {
  display: block;
  border: 1px solid black;
  border-radius: 10%;
  font-family: 'Open Sans', sans-serif;
}

.info-box-controls-action-button:hover {
  cursor: pointer;
}

#start-button {
  margin: 40px auto;
  font-size: 20px;
}

#reset-button {
  position: absolute;
  bottom: 0;
  left: 0;
}

#attack-button {
  position: absolute;
  bottom: 0;
  left: 0;
}

#cancel-button {
  position: absolute;
  bottom: 0;
  left: 0;
}

#done-button {
  position: absolute;
  bottom: 0;
  right: 0;
}

.status-box {
  width: 180px;
  height: 300px;
  border: 3px solid black;
  border-radius: 8%;
  position: absolute;
  bottom: -10px;
  left: 5px;
  background-color: #FDFFF7;
  text-align: center;
}

#status-box-p {
  padding-top: 15px;
}

.continent1 {
  background-color: yellow;
}

.continent2 {
  background-color: red;
}

.continent3 {
  background-color: blue;
}

.continent4 {
  background-color: orange;
}

.continent5 {
  background-color: green;
}

.continent6 {

  background-color: purple;
}
