body {
  padding: 0;
  margin: 0;
  font-family: 'Inconsolata', monospace;
}

#board {
  width: 1227px;
  height: 627px;
  margin: 0px;
  position: relative;
  background-image: url("../risk_game_mapWN.png");
}

#board-pixel-container {
  position: absolute;
  width: 1227px;
  height: 627px;
  top: -10px;
  left: -5px;
}

.row {
  width: 1227px;
  height: 25px;
  box-sizing: border-box;


}

.mapPixel {
  width: 25px;
  height: 25px;
  float: left;
  box-sizing: border-box;
}

.territory-center {
  position: relative;
}

.army-stack {

  width: 40px;
  height: 40px;
  border: 3px solid black;
  border-radius: 50%;
  box-sizing: border-box;
  position: absolute;
  top: -7px;
  left: -7px;
  text-align: center;
  padding-top: 6px;
}

.army-stack > p {
  color: white;
  font-family: 'Droid Serif', serif;
  font-size: 25px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#info-box {
  width: 720px;
  height: 110px;
  border: 3px solid black;
  border-radius: 8%;
  position: absolute;
  bottom: -10px;
  right: 140px;
  background-color: #FDFFF7;
  font-family: 'Inconsolata', monospace;
  text-align: center;
}

#info-box-info {
  width: 370px;
  height: 110px;
  box-sizing: border-box;
  float: left;
  border-right: 2px solid black;
}

#info-box-info > p {
  padding-top: 20px;
}

#info-box-controls {
  float: left;
  text-align: center;
}

.info-box-controls-heading {

}

.info-box-controls-amount {

}

.info-box-controls-territory {

}

.info-box-controls-action-button {
  display: block;
  border: 1px solid black;
  border-radius: 10%;
  font-family: 'Open Sans', sans-serif;
}

.info-box-controls-math-button {
  border: 1px solid black;
  border-radius: 50%;
  font-family: 'Droid Serif', serif;
}

.status-box {
  width: 180px;
  height: 300px;
  border: 3px solid black;
  border-radius: 8%;
  position: absolute;
  bottom: -10px;
  left: 5px;
  background-color: #FDFFF7;
}

.continent1 {
  background-color: yellow;
}

.continent2 {
  background-color: red;
}

.continent3 {
  background-color: blue;
}

.continent4 {
  background-color: orange;
}

.continent5 {
  background-color: green;
}

.continent6 {

  background-color: purple;
}
